@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    background-image: url('asset/pattern.jpg');
    font-family: 'Quicksand', sans-serif;
}

nav {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    color: black;
}

.nav-con {
    width: 80%;
    height: 6rem;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.nav-con img {
    height: 2rem;
}

.nav-con {
    height: 2rem;
}

.menu {
    width: 25rem;
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    font-size: 17px;
    color: black;
    cursor:pointer;
}

.menu2 {
    display: flex;
    width: 10rem;
    justify-content: space-around;
}

.search {
    display: flex;
}

.search input {
    position: absolute;
    top: 1.5rem;
    right: 19rem;
    height: 1.5rem;
}

.search img {
    cursor: pointer ;
}

.cont {
    position: absolute;
    top: 4.5rem;
    left: 31.5rem;
    width: 8rem;
    height: fit;
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.cont a {
    padding: 2rem;
    color: white;
}

.barang {
    width: 15rem;
    height: fit-content;
    background-color: #2c3e50;
    margin: 0 auto;
    border-radius: 20px;
}

.pencarian {
    padding: 2rem;
    color: white;
}

